@charset "UTF-8";

@font-face {
  font-family: "TTOctosquares-Black";
  src:url("fonts/TT.Octosquares/TTOctosquares-Black.otf");
  src:url("fonts/TT.Octosquares/TTOctosquares-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TTOctosquaresComp-BlackIt";
  src:url("fonts/TT.Octosquares/TTOctosquaresComp-BlackIt.otf");
  src:url("fonts/TT.Octosquares/TTOctosquaresComp-BlackIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}