.footer{
    position: absolute;
    bottom: 0;
    width: 96%;
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: end;

    &__text-box{
        margin: 0 2rem;
    }
}