.navigation{
    // background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;

    
    @include respond(phone) {
        display: none;
    }

    &__logo{
        height: 4rem;
    }

    &__nav{
        display: flex;
    }

    &__list{
        display: flex;
        list-style: none;
        font-size: $default-font-size;
        text-transform: uppercase;
    }

    &__link{
        display: block;
        text-decoration: none;
        margin: 0 0.2rem;
    }

    &__item{
        color: $color-primary;
        padding: 0.1rem 2rem;
        border: 4px $color-primary solid;
        border-radius: 6px; 
        transition: 0.2s;
        @include hoverBuzz;

        &--current{
            background-color: $color-secondary;
            border: 4px $color-secondary solid;
        }

        &--icon{
            border: 4px $color-secondary solid;
            background-color: $color-primary;
            padding: 0.4rem;
            height: 4rem;

            &:hover{
                background-color: $color-primary !important;
                border: 4px $color-secondary solid;
            }
        }

        &:hover{
            background-color: $color-secondary;
            border: 4px $color-secondary solid;
        }
    }

    &__icon{
        width: 100%;
        height: 100%;
    }
}