.blueprint {
  display: flex;
  width: 75vw;
  height: 40vh;
  min-height: 65vh;
  margin: 4rem 0;
  cursor: none;

  display: inline-flex;
  flex-wrap: wrap;
  gap: 12px;

  @include respond(tab-port) {
    min-height: 40vh;
  }
 
  &__col {
    background-color: $color-black;
    flex-grow: 1;
    text-align: center;
    border: 1px $color-primary solid;
    
    &:nth-child(odd){
      @include hoverBuzz; 
      display: none;
    }

    @include respond(tab-port) {
      display: none;
    }

    &--center {
      flex-grow: 2;
      display: inline-flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 12px;
      position: relative;

      border: none;
    }
  }

  &__row {
    background-color: $color-black;
    flex-grow: 1;
    border: 1px $color-primary solid;
    text-align: center;

    @include hoverBuzz;
  }

  &__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: $color-black;
    width: 25rem;
    height: 25rem;
    border-radius: 100%;
    border: 1px $color-black solid;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);

    &:hover{
      transform: translate(-50%, -50%) scale(1.1);
    }
  }

  &__col > &__text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  
  &__text {
    padding: 0.4rem 1rem;
    border-radius: 2px;
    text-transform: uppercase;
    background-color: $color-primary;
    color: $color-black;
    width: fit-content;
  }

  &__text--2 {
    position: relative;
    top: 20%;

    left: 50%;
    transform: translateX(-50%);
  }

  &__text--4 {
    position: relative;
    top: 70%;

    left: 50%;
    transform: translateX(-50%);
  }


  .blueprint-01-bg{
    background-image: url(./../../img/blueprint/BeeParty.png);
    background-position: center;
    background-size: cover;
  }

  .blueprint-02-bg{
    background-image: url(./../../img/blueprint/SocialMedia.png);
    background-position: center;
    background-size: cover;
  }

  .blueprint-03-bg{
    background-image: url(./../../img/blueprint/BeeVerse.png);
    background-position: center;
    background-size: cover;
  }

  .blueprint-04-bg{
    background-image: url(./../../img/blueprint/HoneyMarket.png);
    background-position: center;
    background-size: cover;
  }

  .blueprint-05-bg{
    background-image: url(./../../img/blueprint/Gallery.png);
    background-position: center;
    background-size: cover;
  }
}
