.header {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  al &__text-box {
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__primary {
    display: flex;
    justify-content: center;
    height: 40rem;

    &--text {
      height: 38rem;
      mask-image: url(./../../img/B.svg);
      mask-repeat: round;
      margin: -4rem;
      transform: translateY(10%);
    }

    & div:hover {
      color: $color-secondary;
    }

    @include respond("tab-port") {
      display: none;
    }
  }

  &__secondary {
    display: flex;
    justify-content: space-around;
    visibility: hidden;
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    letter-spacing: -0.065em;
    // color: $color-primary;
    & span:not(:last-child) {
      position: absolute;
    }

    @include respond("tab-port") {
      visibility: visible;
      flex-direction: column;
      font-size: 14rem;
      line-height: 109px;
      height: 100vh;
      justify-content: center;

      & span:not(:last-child) {
        position: relative;
        &:hover {
          color: $color-primary;
        }
      }

      & span:last-child {
        display: none;
      }
    }
  }

  @include respond("tab-port") {
    height: 94vh;
  }
}
