.header {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  al &__text-box {
    height: 100%;
  }

  &__primary {
    font-family: "TTOctosquaresCond-BlackIt";
    font-size: 50rem;
    color: $color-primary;
    text-align: center;
    line-height: 40rem;
    letter-spacing: -0.155em;
    text-transform: uppercase;
    transform: translateX(-4rem);
    user-select: none;
    -webkit-font-smoothing: antialiased;
    object-fit: cover;

    display: flex;
    justify-content: center;
    // &--1 {
    //   width: 100%;
    //   height: 100%;
      
    //   background-clip: text;
    //   -webkit-background-clip: text;
    //   color: transparent;
    //   background-image: url(./../../img/test.jpg);
    //   // background-repeat: repeat;
    //   //       -webkit-background-clip: text;
    //   //       -webkit-text-fill-color: transparent;
    // }

    & div:hover {
      color: $color-secondary;
    }

    @include respond("tab-port") {
      display: none;
    }
  }

  &__secondary {
    display: flex;
    justify-content: space-around;
    visibility: hidden;
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    letter-spacing: -0.065em;
    // transform: translateX(5%);

    & span:not(:last-child) {
      position: absolute;
    }

    @include respond("tab-port") {
      visibility: visible;
      flex-direction: column;
      font-size: 14rem;
      line-height: 109px;
      height: 100vh;
      justify-content: center;

      
      & span:not(:last-child) {
        position: relative;
        &:hover{
          color: $color-primary;
        }
  
      }

      & span:last-child {
        display: none;
      }
    }
  }

  @include respond("tab-port") {
    height: 94vh;
  }
}
