body {
  font-family: "TTOctosquares-Black", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-secondary;
}

.heading {
  width: 85%;

  &__text-box {
    // background-color: aqua;
    padding: 2rem 0;
    height: 100%;
    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__primary {
    font-size: 8rem;
    color: $color-primary;
    line-height: 8rem;
    text-transform: uppercase;

    @include respond(tab-port) {
      font-size: 9.4rem;
    }

    &--partners{
      @include respond(tab-port) {
        font-size: 5rem;
      }
    }
  }

  &__secondary {
    font-size: 3.5rem;
    color: $color-secondary;
    text-transform: uppercase;
    line-height: 4rem;
    &--yellow {
      color: $color-primary;
    }
  }
}
.para {
  font-family: $font-montserrat;
  font-size: 1.9rem;
  letter-spacing: -0.1rem;
  font-weight: 600;
  text-align: justify;
}
