.about {
  display: flex;
  padding: 2rem;
  
  @include respond(tab-port) {
    flex-direction: column-reverse;
    text-align: center;
  }


  &__heading {
    @include respond(tab-port) {
      margin: 2rem 0;
    }
  }

  &__text-box {
    // background-color: aqua;
    padding: 2rem;
    width: 55%;
    height: 100%;

    &--vision {
      width: 70%;
    }

    @include respond(tab-port) {
      width: 100%;
      padding: 1rem;
    }
  }

  &__image-box {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0 2rem;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;

   

    @include respond(tab-port) {
      width: 100%;
      position: relative;
    }
  }

  &__img {
    width: 50%;
    &--abt {
      width: 100%;
      align-self: flex-end;
    }
  }
}
