.vision{
    height: 100% !important;
    min-height: 100%;
    margin: 4.2rem 0;
    overflow-x: hidden;
    padding: 0 4rem;

    &__text-box {
        padding: 2rem;
        width: 70%;
        height: 100%;
    
        @include respond(tab-port) {
          width: 100%;
          padding: 1rem;
        }
      }

      &__heading {
        @include respond(tab-port) {
          margin: 2rem 0;
        }
      }

    &__image-box{
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        &--center{
            width: 98vw;
            padding: 3rem;
            text-align: center;
        }
    }

    &__image{
        width: 65%;

        @include respond(tab-port) {
            width: 100%;
            padding: 1rem;
        }
    }
}