.vision{
    margin: 4.2rem 0;
    &__image-box{
        width: 98vw;
        padding: 3rem;
        text-align: center;
    }

    &__image{
        width: 65%;

        @include respond(tab-port) {
            width: 100%;
            padding: 1rem;
        }
    }
}